<div class="content">
  <button *ngIf="user?.role === 'TEACHER'" type="button" class="btn btn-dark" (click)="goToAddEvent()">Add Event</button>
  <div class="calendar table-responsive">
    <div class="header">
      <h1 class="current-week-title"> {{currentWeek[0]| date}} - {{currentWeek[6]| date}}</h1>
    </div>
      <table class="table">

      <thead>
        <tr class="days-color-grid">
          <th class="fixed-width">Monday</th>
          <th class="fixed-width">Tuesday	</th>
          <th class="fixed-width"> Wednesday</th>
          <th class="fixed-width">Thursday</th>
          <th class="fixed-width">Friday</th>
          <th class="fixed-width">Saturday</th>
          <th class="fixed-width">Sunday</th>
        </tr>
      </thead>

      <tbody *ngIf="planners?.length !== 0; else elseBlock">
        <tr *ngFor="let planner of planners">
          <td class="fixed-width"><b *ngIf="planner.dayOfWeek==1" (click)="showDetails(planner)">
            <!-- <div class="event">{{event.course.name}} - {{event.classroom.name}}</div></b></td> -->
            <div class="event">{{planner.course.name}} - {{planner.startTime}}</div></b></td>

          <td class="fixed-width"><b *ngIf="planner.dayOfWeek==2" (click)="showDetails(planner)">
            <!-- <div class="event">{{event.course.name}} - {{event.classroom.name}}</div></b></td> -->
            <div class="event">{{planner.course.name}} - {{planner.startTime}}</div></b></td>

          <td class="fixed-width"><b *ngIf="planner.dayOfWeek==3" (click)="showDetails(planner)">
            <!-- <div class="event">{{event.course.name}} - {{event.classroom.name}}</div></b></td> -->
            <div class="event">{{planner.course.name}} - {{planner.startTime}}</div></b></td>

          <td class="fixed-width"><b *ngIf="planner.dayOfWeek==4" (click)="showDetails(planner)">
            <!-- <div class="event">{{event.course.name}} - {{event.classroom.name}}</div></b></td> -->
            <div class="event">{{planner.course.name}} - {{planner.startTime}}</div></b></td>

          <td class="fixed-width"><b *ngIf="planner.dayOfWeek==5" (click)="showDetails(planner)">
            <!-- <div class="event">{{event.course.name}} - {{event.classroom.name}}</div></b></td> -->
            <div class="event">{{planner.course.name}} - {{planner.startTime}}</div></b></td>

          <td class="fixed-width"><b *ngIf="planner.dayOfWeek==6" (click)="showDetails(planner)">
            <!-- <div class="event">{{event.course.name}} - {{event.classroom.name}}</div></b></td> -->
            <div class="event">{{planner.course.name}} - {{planner.startTime}}</div></b></td>

          <td class="fixed-width"><b *ngIf="planner.dayOfWeek==0" (click)="showDetails(planner)">
            <!-- <div class="event">{{event.course.name}} - {{event.classroom.name}}</div></b></td> -->
            <div class="event">{{planner.course.name}} - {{planner.startTime}}</div></b></td>
      </tr>
      </tbody>
      <ng-template #elseBlock>
        <tr>
         <td colspan="7" class="fixed-width">
          <b>
            <h1 class="no-event">There are no scheduled events!</h1>
          </b>
        </td>
      </tr>
      </ng-template>
    </table>
  </div>
<b *ngIf=""></b>
</div>
